* {
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

body {
    --padding-section: 25px;
    --padding-interno: 20px;
    --sombra: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(151, 34, 34, 0.04) 0px 10px 10px -5px;
    --size-xxl: 2.3rem;
    --size-xl: 1.8rem;
    --size-l: 1.5rem;
    --size-medium: 1.2rem;
    --size-small: 0.8rem;
    --size-x-small: 0.6rem;
    --color-white: #f8fafc;
    --color-white-l: #dedede;
    --color-white-x: #fcfcfc;
    --color-black: #1d1f3c;
    --color-black-l: #595a68;
    --color-black-small: rgb(223, 223, 223);
    --color-black-hover: #ebebeb75;
    --color-secondary: #910A67;
    --color-secondary-opaque: #f5c2e5;
    --bold-l: 600;
    --bold-xl: 800;
    --light: 300;
    --hover-scale: scale(1.01);
    --hover-border: 6px solid var(--color-secondary-opaque);
    --transicion: all 0.1s ease-out;
    --color-intermedio-opaque: #cddbe4;
    --color-intermedio: #348bc5;
    --color-avanzado-opaque: #d8ffce;
    --color-avanzado: #48b623;
    background: var(--color-white);
    display: flex;
}


.navbar {
    position: sticky;
    top: 0;
    background: var(--color-white-x);
    width: 220px;
    height: 100vh;
    box-shadow: var(--sombra);
    overflow-y: scroll;
    z-index: 99999;
}

/* Modificar la apariencia de la barra de desplazamiento en WebKit (Chrome, Safari, etc.) */
.navbar::-webkit-scrollbar {
    width: 5px;
    /* Grosor de la barra de desplazamiento */
}

.navbar::-webkit-scrollbar-thumb {
    background-color: var(--color-white-l);
    /* Color del pulgar de la barra de desplazamiento */
}

.navbar::-webkit-scrollbar-track {
    background-color: var(--color-white);
    /* Color del fondo de la barra de desplazamiento */
}

.navbar .logo {
    padding-bottom: 40px;
    padding: 20px var(--padding-section);
}

.navbar .logo h1 {
    font-size: var(--size-xl);
    color: var(--color-black);
    font-weight: var(--bold-xl);
}

.navbar .logo h1 span {
    color: var(--color-secondary);
}

.navbar .container {}

.navbar .opciones li {
    padding: 8px var(--padding-section);
    display: flex;
    gap: 15px;
    align-items: center;
    transition: var(--transicion);
    cursor: pointer;
    font-size: var(--size-small);
    color: var(--color-black-l);
}

.navbar .opciones li p {
    font-size: var(--size-small);
    color: var(--color-black-l);
}

.navbar .opciones li:hover {
    border-left: 5px solid var(--color-secondary);
    background: var(--color-black-hover);
}

.navbar .icon {
    width: 18px;
    height: auto;
}

.navbar .opciones {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    border-bottom: 1px solid var(--color-black-small);
}

.navbar .socials {
    padding: 20px 0;
}

.navbar .socials h1 {
    padding: 0px var(--padding-section);
    font-size: var(--size-medium);
    color: var(--color-black-l);
}

.navbar .contacto {
    width: 100%;
    padding: 10px var(--padding-section);
    text-align: center;
}

.navbar .contacto a {
    display: flex;
    align-items: center;
    font-size: var(--size-small);
    text-decoration: none;
    color: var(--color-white);
    background: var(--color-secondary);
    gap: 5px;
    padding: 15px 20px;
    border-radius: 5px;
    justify-content: center;
    transition: var(--transicion);
}

.navbar .contacto a:hover {
    background: var(--color-white-x);
    color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
}

.navbar .contacto a svg {
    width: 20px;
}

main {
    width: calc(100% - 220px);
}

main .all {
    display: flex;
}

main .all .columna-1 {
    width: 60%;
}

.subnavbar {
    position: sticky;
    top: 0;
    padding: var(--padding-interno);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: var(--transicion);
    z-index: 999;
}

.subnavbar.white-bg {
    background-color: var(--color-white-x);
    box-shadow: var(--sombra);
}

.subnavbar h1 {
    color: var(--color-black);
    font-size: var(--size-xl);
    font-weight: var(--bold-xl);
}

.subnavbar p {
    font-size: var(--size-small);
    color: var(--color-black-l);
}

.subnavbar .opciones-2 {
    display: flex;
    gap: 10px;
}

.subnavbar .opciones-2 a {
    color: var(--color-black);
    text-decoration: none;
    background: var(--color-white-x);
    transition: var(--transicion);
    box-shadow: var(--sombra);
    border-radius: 10px;
    display: flex;
    font-size: var(--size-small);
    font-weight: var(--light);
    align-items: center;
}

.subnavbar .opciones-2 a:hover {
    background: var(--color-secondary);
    color: var(--color-white-x);
}

.subnavbar .opciones-2 a:nth-child(1) {
    background: var(--color-secondary);
    color: var(--color-white-x);
    padding: 10px;
}

.subnavbar .opciones-2 a:nth-child(2) {
    background: var(--color-black);
    color: var(--color-white-x);
    padding: 10px;
}

.subnavbar .opciones-2 a:nth-child(3) {
    background: var(--color-white);
    color: var(--color-black);
    padding: 10px;
}

.subnavbar .opciones-2 a:nth-child(4) {
    padding: 10px;
}

.subnavbar .opciones-2 a:nth-child(5) {
    padding: 10px;
}

.subnavbar .opciones-2 img {
    width: 50px;
    border-radius: 10px;
    object-fit: cover;
    height: 100%;
}

.subnavbar .opciones-2 a:hover {
    transform: scale(1.08);
}


.banner {
    padding: var(--padding-interno);
}

.banner .container {
    position: relative;
    border-radius: 20px;
    width: 100%;
    box-shadow: var(--sombra);
    padding: 40px;
    gap: 50px;
    display: flex;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin:auto;background:transparent;display:block;z-index:1;position:relative" width="100%" height="100%" preserveAspectRatio="xMidYMid" viewBox="0 0 1802 637"><g transform="translate(901,318.5) scale(1,1) translate(-901,-318.5)"><g transform="translate(1328.1577996902984,-12.837553204799121) scale(100)" opacity="0.1"><path d="M5.081640000000001 0 C5.081640000000001 1.2433800000000002 5.366799050881841 2.3623055478607755 4.635958623886426 3.3682210983266976 S2.7528377705265763 4.448701285000182 1.5703131192955082 4.832926835466105 S-0.5882539726553555 5.834121769183021 -1.7707786238864238 5.4498962187170985 S-3.3802926923000927 3.9928285999254465 -4.111133119295508 2.9869130494595244 S-5.730360000000002 1.2433800000000008 -5.730360000000002 7.017667031962029e-16 S-4.841973546290925 -1.9809974989936006 -4.111133119295509 -2.986913049459523 S-2.9533032751174932 -5.065670668251175 -1.7707786238864252 -5.449896218717098 S0.3877884680644388 -5.217152385932027 1.570313119295507 -4.832926835466106 S3.905118196891009 -4.374136648792621 4.635958623886425 -3.368221098326699 S5.081640000000001 -1.2433800000000015 5.081640000000001 -1.2446428320838314e-15" fill="%23f5c2e5" stroke-width="0"><animateTransform attributeName="transform" type="rotate" dur="50s" repeatCount="indefinite" values="0;72"></animateTransform></path></g><g transform="translate(1413.5893596283581,-79.10506384575893) scale(100)" opacity="0.1"><path d="M6.097968000000001 0 C6.097968000000001 1.4920560000000003 6.440158861058209 2.83476665743293 5.563150348663711 4.041865317992037 S3.3034053246318917 5.338441542000219 1.8843757431546098 5.799512202559326 S-0.7059047671864267 7.000946123019625 -2.1249343486637087 6.539875462460518 S-4.056351230760111 4.791394319910536 -4.933359743154609 3.584295659351429 S-6.876432000000002 1.4920560000000012 -6.876432000000002 8.421200438354435e-16 S-5.810368255549109 -2.3771969987923205 -4.933359743154611 -3.5842956593514277 S-3.5439639301409915 -6.078804801901411 -2.12493434866371 -6.539875462460517 S0.46534616167732645 -6.260582863118432 1.8843757431546084 -5.799512202559326 S4.686141836269211 -5.248963978551146 5.56315034866371 -4.0418653179920385 S6.097968000000001 -1.4920560000000018 6.097968000000001 -1.4935713985005976e-15" fill="%23c470a6" stroke-width="0"><animateTransform attributeName="transform" type="rotate" dur="25s" repeatCount="indefinite" values="0;72"></animateTransform></path></g><g transform="translate(1618.625103479701,-238.14708938406238) scale(100)" opacity="0.1"><path d="M8.5371552 0 C8.5371552 2.0888784 9.016222405481491 3.9686733204061015 7.788410488129194 5.658611445188851 S4.6247674544846475 7.473818158800307 2.6381260404164535 8.119317083583056 S-0.9882666740609971 9.801324572227474 -2.9749080881291916 9.155825647444724 S-5.678891723064155 6.707952047874749 -6.9067036404164535 5.018013923092 S-9.627004800000002 2.0888784000000014 -9.627004800000002 1.1789680613696208e-15 S-8.134515557768752 -3.328075798309249 -6.906703640416455 -5.018013923091998 S-4.961549502197388 -8.510326722661974 -2.974908088129194 -9.155825647444724 S0.6514846263482572 -8.764816008365804 2.6381260404164517 -8.119317083583056 S6.560598570776894 -7.348549569971603 7.788410488129192 -5.658611445188853 S8.5371552 -2.0888784000000022 8.5371552 -2.0909999579008367e-15" fill="%23910a67" stroke-width="0"><animateTransform attributeName="transform" type="rotate" dur="16.666666666666668s" repeatCount="indefinite" values="0;72"></animateTransform></path></g></g></svg>');
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-between;
    align-items: center;
    transition: var(--transicion);
    cursor: default;
    border: 1px solid var(--color-black-small);
}

.banner .container:hover {
    border-bottom: var(--hover-border);
    transform: var(--hover-scale);
}

/* 

.banner .container::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(var(--color-secondary) 10%, var(--color-secondary));
    filter: blur(180px);
    transform: translate(calc(-50% + 15px), -50%);
    z-index: -33;
} */

.banner .container .text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.banner .container h1 {
    font-size: var(--size-xxl);
    color: var(--color-black);
    font-weight: var(--bold-xl);
    line-height: 1;
}

.banner .container p {
    font-size: var(--size-small);
    line-height: 1.4;
    color: var(--color-black-l);
    text-wrap: balance;
    font-weight: var(--light);
}

.banner span,
.banner .container .text p a {
    text-decoration: none;
    color: var(--color-secondary);
    font-weight: var(--bold-l);
}

.banner .buttons {
    display: flex;
    padding: 10px 0 0 0;
    gap: 10px;
    /* Espacio entre los botones */
}

.banner .buttons a {
    background: var(--color-black);
    text-decoration: none;
    color: var(--color-white);
    border-radius: 10px;
    padding: 15px 20px;
    /* Ajuste del padding */
    display: flex;
    align-items: center;
    gap: 5px;
    transition: var(--transicion);
    font-size: var(--size-small);
    font-weight: var(--bold-l);
}

.banner .buttons a svg {
    width: 20px;
    color: var(--color-white-x);
}

.banner .buttons a:nth-child(2) {
    background: var(--color-secondary);
    border: 1px solid var(--color-secondary);
}

.banner .buttons a:hover {
    background: var(--color-white-x);
    color: var(--color-black);
    border: 1px solid var(--color-black);
}

.banner .buttons a:hover>svg {
    color: var(--color-black);
}


.carrusel-proyectos {
    padding: 0px var(--padding-interno);
    width: 100%;
    cursor: grab;
}

.carrusel-proyectos .swiper-wrapper{
}

.carrusel-proyectos .titulo {
    align-items: center;
    display: flex;
    gap: 5px;
    font-size: var(--size-l);
    font-weight: var(--bold-xl);
    color: var(--color-black-l);
    padding: 0 0 var(--padding-interno) 0;
}

.carrusel-proyectos .titulo svg {
    width: 25px;
}

.carrusel-proyectos .carrusel {
    overflow: hidden;
    box-shadow: var(--sombra);
    border-radius: 20px;
    background: var(--color-white-x);
    border: 1px solid var(--color-black-small);
    padding: var(--padding-interno);
    width: 100%;
    transition: var(--transicion);
    height: 100%;
}

.carrusel-proyectos .carrusel:hover {
    border-bottom: var(--hover-border);
    transform: var(--hover-scale);
}

.carrusel-proyectos .pry {
    width: 100%;
    height: 100%;
    background: var(--color-white-x);
    display: flex;
    box-shadow: var(--sombra);
    border-radius: 20px;
    transition: var(--transicion);
}

.carrusel-proyectos .pry:hover {
    transform: var(--hover-scale);
}

.carrusel-proyectos .pry .image {
    width: 40%;
    border-radius: 20px;
    height: 250px;
    background: var(--color-black);
    overflow: hidden;
}

.carrusel-proyectos .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carrusel-proyectos .pry .text {
    width: 60%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    height: 100%;
    text-wrap: balance;
}

.carrusel-proyectos .pry .text h1 {
    font-size: var(--size-medium);
    color: var(--color-black);
    font-weight: var(--bold-l);
    line-height: 1.08;
}

.carrusel-proyectos .skills {
    width: 100%;
    display: flex;
    gap: 10px;
}

.carrusel-proyectos .skills span {
    font-size: var(--size-x-small);
    background: var(--color-avanzado-opaque);
    padding: 3px 5px;
    color: var(--color-avanzado);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-weight: var(--bold-l);
}

.carrusel-proyectos p {
    font-size: var(--size-small);
}

.carrusel-proyectos .niveles {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 5px;
}

.carrusel-proyectos .nivel {
    font-weight: var(--bold-l);
    color: var(--color-secondary);
    border-radius: 5px;
    width: fit-content;
    padding: 3px 5px;
    background: var(--color-secondary-opaque);
    font-size: var(--size-x-small);
}

.carrusel-proyectos #best {
    background: var(--color-intermedio-opaque);
    color: var(--color-intermedio);
}

.carrusel-proyectos .buttons {
    display: flex;
    gap: 5px;
}

.carrusel-proyectos a {
    background: var(--color-black);
    text-decoration: none;
    color: var(--color-white);
    border-radius: 10px;
    padding: 10px 15px;
    /* Ajuste del padding */
    transition: var(--transicion);
    font-size: var(--size-small);
    font-weight: var(--bold-l);
    display: flex;
    align-items: center;
    gap: 5px;
}

.carrusel-proyectos a:nth-child(2) {
    background: var(--color-white-x);
    border: 1px solid var(--color-black);
    color: var(--color-black);
}


.carrusel-proyectos a:nth-child(1):hover {
    background: var(--color-white-x);
    color: var(--color-black);
    border: 1px solid var(--color-black);
}

.carrusel-proyectos a:nth-child(2):hover {
    background: var(--color-black);
    color: var(--color-white-x);
}

.carrusel-proyectos svg {
    width: 18px;
}


.habilidades {
    display: flex;
    flex-direction: column;
    gap: var(--padding-interno);
    cursor: default;
}

.habilidades .skills {
    border: 1px solid var(--color-black-small);
    padding: var(--padding-interno);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: var(--color-white-x);
    box-shadow: var(--sombra);
    border-radius: 15px;
    gap: 13px;
    transition: var(--transicion);
}

.habilidades .skills:hover {
    border-bottom: 5px solid var(--color-secondary-opaque);
    transform: var(--hover-scale);
}

.habilidades span {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: var(--size-x-small);
    color: var(--color-black-l);
    padding: 0 15px 0 0;
}

.habilidades span svg {
    width: 20px;
}

.habilidades span p {
    margin-left: auto;
    font-weight: var(--bold-l);
    color: var(--color-white-x);
    border-radius: 5px;
    width: fit-content;
    padding: 3px 5px;
    font-size: var(--size-x-small);
}

.habilidades #avanzado {
    background: var(--color-avanzado-opaque);
    color: var(--color-avanzado);
}

.habilidades #intermedio {
    background: var(--color-intermedio-opaque);
    color: var(--color-intermedio);
}

.habilidades #basico {
    background: var(--color-secondary-opaque);
    color: var(--color-secondary);
}

.columna-2 .habilidades .titulo {
    align-items: center;
    display: flex;
    gap: 5px;
    font-size: var(--size-l);
    font-weight: var(--bold-xl);
    color: var(--color-black-l);
}

.columna-2 .habilidades .titulo svg {
    width: 25px;
}

.columna-2 .trayectoria .titulo {
    align-items: center;
    display: flex;
    gap: 5px;
    font-size: var(--size-l);
    font-weight: var(--bold-xl);
    color: var(--color-black-l);
    padding: var(--padding-interno) 0;
}

.columna-2 .trayectoria .titulo svg {
    width: 25px;
}

main .all .columna-2 {
    width: 40%;
    padding: var(--padding-interno) var(--padding-interno) var(--padding-interno) 0;
}

.trabajo {
    background: var(--color-white-x);
    box-shadow: var(--sombra);
    border-radius: 15px;
    padding: var(--padding-interno);
    display: flex;
    flex-direction: column;
    gap: var(--padding-interno);
    transition: var(--transicion);
    cursor: default;
    border: 1px solid var(--color-black-small);
}

.trabajo:hover {
    transform: var(--hover-scale);
    border-bottom: 5px solid var(--color-secondary-opaque);
}

.trabajo .block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.trabajo span {
    width: fit-content;
    padding: 5px 8px;
    background: var(--color-secondary-opaque);
    color: var(--color-secondary);
    font-size: var(--size-x-small);
    border-radius: 5px;
    font-weight: var(--bold-l);
}

.trabajo a {
    color: var(--color-secondary);
    font-size: var(--size-small);
    font-weight: var(--bold-l);
}

.trabajo h2 {
    color: var(--color-black);
    font-size: var(--size-medium);
    font-weight: var(--bold-l);
    line-height: 1.08;
}

.trabajo p {
    font-size: var(--size-small);
    color: var(--color-black-l);
}

.sobremi {
    padding: var(--padding-interno);
}

.sobremi .container {
    display: flex;
    align-items: center;
    background: var(--color-white-x);
    box-shadow: var(--sombra);
    border-radius: 15px;
    padding: var(--padding-interno);
    transition: var(--transicion);
    border: 1px solid var(--color-black-small);
}

.sobremi .container:hover {
    transform: var(--hover-scale);
    border-bottom: 5px solid var(--color-secondary-opaque);
}

.sobremi .text {
    width: 60%;
}

.sobremi .image {
    width: 40%;
    border-radius: 15px;
    transform: rotate(3deg);
    overflow: hidden;
}

.sobremi .image img {
    border-radius: 15px;
    width: 100%;
    background-size: cover;
}

.sobremi .container h2 {
    font-size: var(--size-small);
    color: var(--color-black-l);
    font-weight: var(--light);
    text-wrap: balance;
}

.sobremi .titulo {
    align-items: center;
    display: flex;
    gap: 5px;
    font-size: var(--size-l);
    font-weight: var(--bold-xl);
    color: var(--color-black-l);
    padding: 0 0 var(--padding-section) 0;
}

.sobremi .titulo svg {
    width: 25px;
}

.sobremi .text span,
.sobremi .text a {
    color: var(--color-secondary);
    font-weight: 400;
}

.progreso .titulo {
    align-items: center;
    display: flex;
    gap: 5px;
    font-size: var(--size-l);
    font-weight: var(--bold-xl);
    color: var(--color-black-l);
    padding: var(--padding-section) 0;
}

.progreso .titulo svg {
    width: 25px;
}

.progreso .block {
    background: var(--color-white-x);
    border: 1px solid var(--color-black-small);
    padding: var(--padding-interno);
    box-shadow: var(--sombra);
    border-radius: 15px;
    transition: var(--transicion);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.progreso .block:hover {
    transform: var(--hover-scale);
    border-bottom: var(--hover-border);
}

.progreso h2 {
    font-size: var(--size-small);
    color: var(--color-secondary);
}

.progreso span {
    width: fit-content;
    background: var(--color-secondary-opaque);
    color: var(--color-secondary);
    font-size: var(--size-x-small);
    padding: 5px 7px;
    border-radius: 5px;
}


.progreso #contador {
    font-size: var(--size-small);
    color: var(--color-black);
}




.banner .active {
    transform: var(--hover-scale);
    border: 1px solid var(--color-secondary);
    border-radius: 20px;
}

.habilidades .active {
    transform: var(--hover-scale);
    border: 1px solid var(--color-secondary);
    border-radius: 20px;
}

.trayectoria .active {
    transform: var(--hover-scale);
    border: 1px solid var(--color-secondary);
    border-radius: 20px;
}

.sobremi .active {
    transform: var(--hover-scale);
    border: 1px solid var(--color-secondary);
    border-radius: 20px;
}

.carrusel-proyectos .active {
    transform: var(--hover-scale);
    border: 1px solid var(--color-secondary);
    border-radius: 20px;
}